/* === ROOTS === */
:root {
  /* colors */
  --background-color-body: #6f6b6b;
  --background-color-left: #d9d4d1;
  --background-color-right: #fff;
  --background-color-light: #9e9a99;
  --background-color-dark: #343a40;
  --background-color-img: orange;

  /* shadow */
  --box-shadow-img: 1px 3px 25px 2px var(--background-color-img);

  /* icon */
  --icon-color: orange;
  --icon-background-color: #ffffffb5;
  --icon-font-size: 1.5rem;

  /* font color */
  --heading-h1-color: orange;
  --heading-h2-color: black;
  --heading-h3-color: black;
  --heading-h4-color: black;
  --heading-h5-color: #04f908;
  --heading-h6-color: #06fbe7;
  --text-color-light: #6005f1;
  --text-color-dark: rgb(247, 6, 227);
  --text-color: #000000;

  /* font family & size*/
  --font-family: 'Montserrat', sans-serif;
  --font-size-h1: 2rem;
  --font-size-h2: 1.2rem;
  --font-size-h3: 1.1rem;
  --font-size-h5: 1rem;
  --font-size-h6: .75rem;
  --font-size-p: .9rem;
  --font-weight-light: 400;
  --font-weight-lightbold: 500;
  --font-weight-bold: 700;
}

/* === GLOBAL === */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color-body);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--heading-h1-color);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--heading-h2-color);
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--heading-h3-color);
}

h4 {
  font-size: var(--font-size-h4);
  color: var(--heading-h4-color);
}

h5 {
  font-size: var(--font-size-h5);
  color: var(--heading-h5-color);
}

h6 {
  font-size: var(--font-size-h6);
  color: var(--heading-h6-color);
}

p {
  font-size: var(--font-size-p);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* === BODY === */
.cvContainer {
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-height: 1000px;
  background-color: var(--background-color-light);
  display: grid;
  grid-template-columns: 361.5px 661.5px;
}

.tltCon {
  padding-bottom: 0px;
  font-size: var(--font-size-h2);
}

/* === BODY LEFT === */
.sectionBoxOne .title {
  color: var(--heading-h3-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: left;
}

.cvContainer .leftSide {
  position: relative;
  background-color: var(--background-color-left);
  padding: 30px 30px 30px 30px;
}

/* Profil IMG & NAME */
.imgAndName {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 10px;
  padding-top: 25px;
}

.imgAndName .imgBox {
  position: relative;
  width: 220px;
  height: 260px;
  border-radius: 20%;
  overflow: hidden;
  box-shadow: var(--box-shadow-img);
}

.imgAndName .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--box-shadow-img);
}

.imgAndName #name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 25px;
}


.imgAndName #first {
  font-size: var(--font-size-h1);
  color: var(--heading-h1-color);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
}

.imgAndName #second {
  font-size: var(--font-size-h1);
  color: var(--heading-h1-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.imgAndName h2 {
  text-align: center;
}

/* CONTACT */
.contact {
  padding: 25px 0px;
  font-family: var(--font-family);
}

.contact ul li {
  list-style: none;
  position: relative;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.contact ul li .text {
  color: var(--text-color);
  font-size: var(--font-size-p);
}

.contact ul li .icon {
  width: 20px;
  font-size: var(--font-size-body);
  color: var(--icon-color);
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.contactLink {
  font-size: var(--font-size-body);
  display: grid;
  cursor: pointer;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.contactAddress {
  list-style: none;
  position: relative;
  margin: 0;
  display: flex;
  gap: 0px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

/* CERTIFICATES */
.certificates {
  font-family: var(--font-family);
}

.certificates ul {
  padding: 0px 10px;
}

.certificates li {
  text-align: left;
  line-height: 1.5;
  border-left: 1px solid var(--background-color-dark);
  padding-left: 10px;
}

.certificates h4 {
  font-weight: var(--font-weight-lightbold);
}

.certificates p {
  font-size: calc(var(--font-size-p) - 0.2rem);
}

.certLine {
  padding: 6px 2px 3px 2px;
  background: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px var(--background-color-light);
}

.certLine i {
  color: var(--icon-color);
}

/* LANGUAGES */
.language {
  padding: 25px 0px;
  font-family: var(--font-family);
}

.flexLang {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lang,
#rankStar {
  flex: 1;
}

.language ul li {
  list-style: none;
  position: relative;
  margin: 5px 0px;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.language ul li .text {
  color: var(--text-color);
  font-size: var(--font-size-bodyXL);
}

.stars {
  position: relative;
  right: 50px;
}

.stars i {
  color: var(--icon-color);
  background: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0px var(--background-color-light);
}

/* INTERESTS */
.interests {
  font-family: var(--font-family);
}

.interests ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.interests ul li {
  position: relative;
  margin: 5px 0px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
}

.interests .icon i {
  font-size: var(--icon-font-size);
  color: var(--icon-color);
  background: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px 0px var(--background-color-light);
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interests ul li .text {
  color: var(--text-color);
  font-size: var(--font-size-bodyL);
  text-align: center;
}

.interHover {
  display: none;
}

/*  === BODY RIGHT === */
.cvContainer .rightSide {
  position: relative;
  background-color: #fff;
  padding: 30px 30px 30px 30px;
}

.sectionBoxTwo .title2 {
  color: var(--heading-h3-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
}

/* SUMMARY */

/* EXPERIENCES */
.box {
  grid-template-columns: 30% 70%;
  position: relative;
  display: grid;
  padding-top: 10px;
  gap: 10px;
  justify-content: start;
}

.box .date p {
  padding-top: 5px;
  font-size: calc(var(--font-size-p) - 0.2rem);
}

.box .comp p {
  padding-top: 5px;
}

.box .text {
  color: var(--text-color);
  font-size: var(--font-size-body);
}

/* === SKILLS === */
.skills {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.soft h3 {
  text-align: center;
}

.soft ul {
  padding: 15px 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.soft ul li {
  border-radius: 15px;
  font-family: var(--font-family);
  background-color: var(--background-color-left);
  padding: 10px 20px;
}

/* programm */
.programm h3 {
  text-align: center;
  padding-right: 50px;
}

.svgItem {
  font-size: var(--font-size-body);
  animation: donutfade 1s;
  padding: 10px 10px 10px 10px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.donutRing {
  stroke: #cecac9;
}

.donutSegmentHtml {
  stroke: #03071e;
  animation: donut1 3s;
}

.donutTextHtml {
  fill: #03071e;
}

.donutSegmentCss {
  stroke: #370617;
  animation: donut2 3s;
}

.donutTextCss {
  fill: #370617;
}

.donutTextTailwindCss {
  fill: #6a040f;
}

.donutSegmentJavaScript {
  stroke: #9d0208;
  animation: donut4 3s;
}

.donutTextJavaScript {
  fill: #9d0208;
}

.donutSegmentNpm {
  stroke: #d00000;
  animation: donut5 3s;
}

.donutTextNpm {
  fill: #d00000;
}

.donutSegmentGitHub {
  stroke: #dc2f02;
  animation: donut6 3s;
}

.donutTextGitHub {
  fill: #dc2f02;
}

.donutSegmentGit {
  stroke: #e85d04;
  animation: donut7 3s;
}

.donutTextGit {
  fill: #e85d04;
}

.donutSegmentVue {
  stroke: #f48c06;
  animation: donut8 3s;
}

.donutTextVue {
  fill: #f48c06;
}

.donutSegmentDevTools {
  stroke: #f5b846;
  animation: donut9 3s;
}

.donutTextDevTools {
  fill: #f5b846;
}

.donutPercent {
  font-family: var(--font-family);
  font-size: 0.3rem;
  animation: donutfadelong 1s;
  transform: translateY(0.5em);
}

/* Skills Donut Keyframes */
@keyframes donutfade {
  0% {
    opacity: .2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 85, 15;
  }
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 65, 35;
  }
}

@keyframes donut3 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 5, 95;
  }
}

@keyframes donut4 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 40, 60;
  }
}

@keyframes donut5 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 45, 55;

  }
}

@keyframes donut6 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 90, 10;
  }
}

@keyframes donut7 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 60, 40;
  }
}

@keyframes donut8 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 20, 80;
  }
}

@keyframes donut9 {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 60, 40;
  }
}

/* === MEDIA QUERIES === */
/* @media screen and (max-width: 1024px) {
  .cvContainer {
    grid-template-columns: 1fr;
  }

  .cvContainer .leftSide {
    display: none;
  }

  .cvContainer .rightSide {
    width: 100%;
  }
} */